# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Model files and data outputs
*.pth
*.pt
*.npy       # ← נוספה שורה זו כדי להתעלם מקבצי numpy

# Personal logs or temp files
*.log
*.tmp

# Output folders
Detection/models/
results/
